################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EcoWW2Pack/bin/Debug/-1.0.1
